<robot name="wombat">

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.7 0.7 0.4"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.2"/>
      <material name="white"/>
    </visual>
  </link>
</robot>